@type: 'extra';
@element: 'newTabLabeledIcon';

@import (multiple) '../../theme.config';

/*******************************
      New Tab Labeled Icon
*******************************/
.eea.new.tab.labeled.icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: @newTabLabeledIconWidth;
  min-width: @newTabLabeledIconMinWidth;
  text-align: @newTabLabeledIconTextAlign;

  a {
    text-decoration: none;
  }

  .label {
    width: @newTabLabeledIconLabelWidth;
    font-size: @newTabLabeledIconLabelFontSize;
    font-weight: @newTabLabeledIconLabelFontWeight;
    color: @newTabLabeledIconLabelColor;
    cursor: pointer;
  }
}

.eea.new.tab.labeled.icon .icon.wrapper {
  min-height: @newTabLabeledIconIconWrapperMinHeight;
  width: @newTabLabeledIconIconWrapperWidth;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: @newTabLabeledIconWrapperPaddingBottom;

  .icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: @newTabLabeledIconIconFontSize;
    color: @newTabLabeledIconColor;
    width: @newTabLabeledIconIconWidth;
    height: @newTabLabeledIconWrapperIconHeight;
  }
}

.loadUIOverrides();
