@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.theme-generator-method {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  h2 {
    margin-bottom: 0;
  }
}

.theme-generator {
  position: relative;
  padding: 1rem;
  background: @tertiaryColor;
  border-radius: 8px;
  color: @invertedTextColor;

  .theme-generator-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 9999px;
      box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
      content: '';
      opacity: 0.3;
    }

    button {
      padding: 0.25rem 0.5rem;
      border: none;
      background-color: transparent;
      border-radius: 8px;
      color: @invertedTextColor;
      cursor: pointer;

      &:hover {
        background-color: darken(@tertiaryColorHSL, 5);
      }
    }

    .copy-btn {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }
  }

  .color-picker {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}
