@type: 'extra';
@element: 'blockquote';

@import (multiple) '../../theme.config';

/*******************************
            Blockquote
*******************************/

.eea.blockquote,
.eea.blockquote-slate {
  border-left: @mobileBlockquoteBorderLeft;

  .quote {
    display: flex;
    flex-direction: column;
    margin: @mobileQuoteMargin;
    gap: @quoteGap;
    color: @quoteColor;
    font-size: @mobileQuoteFontSize;
    font-weight: @quoteFontWeight;

    strong, em, u, del {
      display: contents;
    }

    .meta {
      margin: @metaMargin;
      font-size: @mobileMetaFontSize;
      font-weight: @metaWeight;
      align-self: @metaAlignSelf;
    }
  }
}

.eea.blockquote-slate {
  .quote {
    display: block;
    flex-direction: unset;
    gap: unset;
    font-weight: @slateQuoteFontWeight;
  }
}

@media only screen and (min-width: @tabletBreakpoint) {
  .eea.blockquote,
  .eea.blockquote-slate {
    border-left: @tabletBlockquoteBorderLeft;
    .quote {
      margin: @tabletQuoteMargin;
      font-size: @tabletQuoteFontSize;
      .meta {
        font-size: @tabletMetaFontSize;
      }
    }
  }
}

@media only screen and (min-width: @computerBreakpoint) {
  .eea.blockquote .quote,
  .eea.blockquote-slate .quote {
    margin: @computerQuoteMargin;
    font-size: @computerQuoteFontSize;
    .meta {
      font-size: @computerMetaFontSize;
    }
  }
}

.loadUIOverrides();
