@type: 'extra';
@element: 'contentAccordion';

@import (multiple) '../../theme.config';

/*----------------------------
    CONTENT ACCORDION
-----------------------------*/

/* Read More Variation */

.ui.accordion.read.more {
  .title {
    color: @contentAccordionColor;

    i {
      color: @contentAccordionColor;
    }

    &:hover {
      color: @contentAccordionColor;

      i {
        color: @contentAccordionColor;
      }
    }
  }

  .active.title {
    background-color: @contentAccordionActiveBackgroundColor;
    color: @contentAccordionActiveColor;

    i {
      color: @contentAccordionActiveColor;
    }
  }

  .content {
    .read.more.link.wrapper {
      width: @contentAccordionLinkWrapperWidth;
      height: @contentAccordionLinkWrapperHeight;
      .read.more.link {
        color: @mediumPersianBlue;
        float: right;
      }
    }
  }
}
