@type: 'extra';
@element: 'contentBox';

@import (multiple) '../../theme.config';

/*-------------------
      CONTENT BOX
--------------------*/

.eea.content-box {
  width: @contentBoxWidth;
  background-color: @contentBoxBackgroundColor;
  color: @contentBoxColor;
  margin-bottom: @mediumGap;

  position: relative;
  margin-right: -50vw;
  margin-left: -50vw;
  right: 50%;
  left: 50%;
  
  .ui.container {
    padding-top: @contentBoxContainerMarginTop;
    padding-bottom: @contentBoxContainerMarginBottom;
  }
}
