@type: 'extra';
@element: 'contextNavigation';

@import (multiple) '../../theme.config';

.context-navigation {
  max-width      : @widescreenSidenavMaxWidth;
  background     : @sidenavBackground;
  margin-right   : @sidenavMarginRight;
  padding-left   : @sidenavPaddingLeft;
  overflow       : @sidenavOverflow;
}
@media (max-width: @largeMonitorBreakpoint) {
  .context-navigation {
    max-width: @sidenavMaxWidth;
    margin: @sidenavMargin;
  }
}

.context-navigation .item a {
  display    : block;
  padding    : @sidenavItemPadding;
  font-size  : @sidenavItemFontSize;
  font-weight: @sidenavItemFontWeight;
  color      : @sidenavItemColor;

  &:hover,
  &:focus-visible {
    background: @sidenavItemHoverBackground;
    color     : @sidenavItemHoverColor;
  }
}

.context-navigation-header {
  display    : flex;
  color      : @sidenavHeaderColor;
  font-size  : @sidenavHeaderFontSize;
  font-weight: @sidenavHeaderFontWeight;
  padding    : @sidenavHeaderPadding;
  border-bottom: @sidenavHeaderBorderBottom;

  i.icon {
    margin-right: @sidenavHeaderIconMarginRight;
  }

  &::before:not(.accordion-header) {
    content: @sidenavHeaderIconContent;
    font-family: 'remixicon';
    font-weight: @sidenavHeaderIconFontWeight;
    padding-right: @sidenavHeaderIconPaddingRight;
  }
}

.context-navigation a.contenttype-folder {
  font-size  : @sidenavFolderFontSize;
  font-weight: @sidenavFolderFontWeight;
  padding    : @sidenavFolderItemPadding;
}

.context-navigation .ui.list > .item > .content {
  border-bottom: @sidenavContentBorderBottom;
}

// Hide last border
.context-navigation .ui.list > .item:last-child > .content {
  border-bottom: none; 
}

// Nav custom list
.context-navigation .ui.list {
  margin: 0;

  .item,
  .item .list {
    padding: 0;
  }
}

.context-navigation .level-1 .item:last-child a {
  margin-bottom: @sidenavLastItemMarginBottom;
}

.context-navigation .item.level-1 .ui.divider {
  border-bottom: none; 
}

.context-navigation .item.level-2 a {
  padding-left: @subparItemPaddingLeft;
}

 .context-navigation .item.level-3 a {
  padding-left: @subparItemPaddingLeft + 2rem;
}

// Active indicator
.context-navigation .active.item > .content > a {
  color: @sidenavItemActiveColor;
  font-weight: @sidenavItemActiveFontWeight;
}
.context-navigation .active.item > .content > a:hover,
.context-navigation .active.item > .content > a:focus-visible {
  color : @sidenavItemActiveColorHover;
}

// Hide arrow
.content.active-indicator {
  display: none;
}

/*******************************
          Side navigation
*******************************/
.accordion-header {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: @sidenavAccordionHeaderPadding;
}

.context-navigation-list .title-link {
  display: block;
  color: @sidenavItemColor; 
  font-size  : @sidenavItemFontSize;
  font-weight: @sidenavItemFontWeight;
}
.context-navigation-list .content .title-link {
  font-weight: @sidenavLevelTwoItemFontWeight;
}
.context-navigation {
  box-shadow: @sidenavBoxShadow;

  .current {
    color: @sidenavItemActiveColor;
  }

  .accordion {
    display: flex;
    flex-wrap: wrap;
  }
  .ui.accordion>.title {
    --text-color: @sidenavItemColor;
    --text-color-hover: @sidenavItemColor;
    font-size: @sidenavItemFontSize;
    font-weight: @sidenavItemFontWeight;
    padding: @sidenavFolderItemPadding;
    text-align: left;
    &:not([aria-expanded="true"]) {
        border-bottom: @sidenavContentBorderBottom;
      }
  }

  .accordion-list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
  }

  .context-navigation-list>.accordion-list-title {
    border-bottom: @sidenavContentBorderBottom;

    .title-link {
      padding: @sidenavFolderItemPadding;
      font-size: @sidenavItemFontSize;
      font-weight: @sidenavItemFontWeight;
    }
  }

  .content .accordion-list .title-link {
    padding: @sidenavLevelTwoItemPadding;
  }

  .ui.accordion .content {
    --bg-color: transparent;
    width: 100%;
  }
}

.loadUIOverrides();
