@type: 'extra';
@element: 'downloadLabeledIcon';

@import (multiple) '../../theme.config';

/*******************************
        Download Labeled Icon
*******************************/
.eea.download.labeled.icon {
  width: @downloadLabeledIconWidth;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .label {
    width: @downloadLabeledIconLabelWidth;
    font-size: @downloadLabeledIconLabelFontSize;
    color: @downloadLabeledIconLabelColor;
    cursor: pointer;
  }
  .icon.wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 8px;
    .icon {
      cursor: pointer;
      font-size: @downloadLabeledIconIconFontSize;
      color: @mediumPersianBlue;
      display: flex;
      width: @downloadLabeledIconIconWidth;
      height: @downloadLabeledIconWrapperIconHeight;
      align-items: center;
    }
  }

  .dropdown {
    width: @downloadLabeledIconDropdownWIdth;

    .link.wrapper {
      position: absolute;
      cursor: pointer;
      background-color: @downloadLabeledIconLinkWrapperBackgroundColor;
      z-index: @downloadLabeledIconLinkWrapperZIndex;
      margin-right: @downloadLabeledIconLinkWrapperMarginRight;
      width: @downloadLabeledIconLinkWrapperWidth;
      padding-top: @downloadLabeledIconLinkWrapperPaddingTop;
      ul {
        list-style-type: none;
        margin-block-start: @downloadLabeledIconUlMarginBlockStart;
        padding-inline-start: @downloadLabeledIconUlPaddingInlineStart;
        a {
          display: flex;
          justify-content: space-around;
          font-weight: @downloadLabeledIconALinkFontWeight;
          font-size: @downloadLabeledIconLinkFontSize;
          .icon {
            font-size: @downloadLabeledIconLinkIconFontSize;
            line-height: @downloadLabeledIconLinkIconLineHeight;
          }
        }
        a:hover {
          color: @downloadLabeledIconALinkColorHover;
        }
        li:hover {
          background-color: @downloadLabeledIconLiHover;
        }
      }
    }
    .link.wrapper.hidden {
      display: none;
    }
  }
}
