@type: 'extra';
@element: 'faqFilter';

@import (multiple) '../../theme.config';

/*-------------------
      FAQ FILTER
--------------------*/

.eea.faq.filter.box {
  .hidden {
    display: none;
  }
  .menu.row {
    display: flex;

    .results {
      padding: 8px 11px 6px;
      color: #007b6c;
      font-weight: 700;
      font-size: 16px;
    }

    .wrapper {
      padding: 8px 11px 6px;
      display: flex;

      .filter.title {
        color: #3d5265;
        font-weight: 700;
        font-size: 16px;
      }
      .arrow {
        cursor: pointer;
        color: #3d5265;
        font-size: 16px;
      }

      .clear {
        color: #3d5265;
        font-weight: 400;
        font-size: 16px;
      }
      background-color: #f9f9f9;
    }
  }
}
