@type: 'extra';
@element: 'faqFilter';

@import (multiple) '../../theme.config';

/*-------------------
      FAQ FILTER
--------------------*/

.eea.faq.filter.box {
  .hidden {
    display: none;
  }
  .menu.row {
    display: flex;

    .results {
      padding: @menuRowResultsPaddingTop @menuRowResultsPaddingSides
        @menuRowResultsPaddingBottom;
      color: @menuRowResultsColor;
      font-weight: @menuRowResultsFontWeight;
      font-size: @menuRowResultsFontSize;
    }

    .wrapper {
      padding: @menuRowWrapperPaddingTop @menuRowWrapperPaddingSides
        @menuRowWrapperPaddingBottom;
      display: flex;

      .filter.title {
        color: @menuRowFilterTitleColor;
        font-weight: @menuRowFilterTitleFontWeight;
        font-size: @menuRowFilterTitleFontSize;
      }
      .arrow {
        cursor: pointer;
        color: @menuRowArrowColor;

        i {
          display: flex;
          width: auto;
          height: @menuRowArrowIconHeight;
          align-items: center;
          order: @menuRowArrowIconOrder;
          margin: @menuRowArrowIconMargin;
          color: @menuRowArrowIconColor;
          font-size: @menuRowArrowIconFontSize;
          line-height: @menuRowArrowIconLineHeight;

          &:before {
            content: @menuRowArrowIconInactive;
          }
        }
      }

      .arrow.up {
        i {
          &:before {
            content: @menuRowArrowIconActive;
          }
        }
      }

      .clear {
        color: @menuRowClearColor;
        font-weight: @menuRowClearFontWeight;
        font-size: @menuRowClearFontSize;
      }
      background-color: @menuRowWrapperBackgroundColor;
    }
  }

  .selected.wrapper {
    padding-top: @selectedWrapperPaddingTop;
    padding-bottom: @selectedWrapperPaddingBottom;
    .ui.label {
      margin-bottom: @selectedUiLabelMarginBottom;
    }
    .ui.label:first-child {
      margin-left: @selectedUiLavelFirstChildMarginLeft;
    }
  }
}
