@type: 'extra';
@element: 'faqFilter';

@import (multiple) '../../theme.config';

/*-------------------
      FAQ FILTER
--------------------*/

.eea.faq.filter.box {
  .hidden {
    display: none;
  }
  .menu.row {
    display: flex;

    .results {
      padding: @menuRowResultsTitlePadding;
      color: @menuRowResultsColor;
      font-weight: @menuRowResultsFontWeight;
      font-size: @menuRowResultsFontSize;
    }

    .wrapper {
      display: flex;
      padding: @menuRowResultsTitlePadding;

      .filter.title {
        color: @menuRowFilterTitleColor;
        font-weight: @menuRowFilterTitleFontWeight;
        font-size: @menuRowFilterTitleFontSize;
      }
      .arrow {
        cursor: pointer;
        color: @menuRowArrowColor;

        i {
          display: flex;
          width: auto;
          align-items: center;
          height: @menuRowArrowIconHeight;
          order: @menuRowArrowIconOrder;
          margin: @menuRowArrowIconMargin;
          color: @menuRowArrowIconColor;
          font-size: @menuRowArrowIconFontSize;
          line-height: @menuRowArrowIconLineHeight;

          &:before {
            content: @menuRowArrowIconInactive;
          }
        }
      }

      .arrow.up {
        i {
          &:before {
            content: @menuRowArrowIconActive;
          }
        }
      }

      .clear {
        cursor: pointer;
        color: @menuRowClearColor;
        font-weight: @menuRowClearFontWeight;
        font-size: @menuRowClearFontSize;
        padding: @menuRowClearPadding;
      }
      background-color: @menuRowBackgroundColor;
    }
  }
}

.eea.faq.filter.box .selected.wrapper {
  padding-left: @menuRowWrapperPaddingLeft;
  background-color: @menuRowBackgroundColor;

  .ui.label {
    margin: @menuRowLabelMargin;

    > .icon {
      width: auto;
      cursor: pointer;
      margin: @menuRowLabelIconMargin;

      &:before {
        font-size: @menuRowLabelIconBeforeFontSize;
        float: @menuRowLabelIconBeforeFloat;
      }
    }
  }
}

.eea.faq.filter.box .filters {
  background-color: @menuRowBackgroundColor;
  padding: @menuRowFilterPadding;

  .ui.grid > .column:not(.row) {
    padding: @menuRowFilterRowPadding;

    .ui.checkbox {
      margin-bottom: @menuRowFiltersCheckboxMargin;
    }
  }
}