@type: 'extra';
@element: 'footer';

@import (multiple) '../../theme.config';

/*-------------------
      FOOTER
--------------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: @mobileFooterBackgroundGrandient;
  color: @white;

  .footer-wrapper {
    width: @wrapperWidth;
    padding: @mobileWrapperPadding;
    background-image: @wrapperBackgroundImage;
    background-position: @wrapperBackgroundPosition;
    background-size: @mobileWrapperBackgroundSize;
  }
}

footer .theme-sites {
  padding: @mobileThemeSitesPadding;

  .logos .ui.grid {
    align-items: center;
  }

  .logos .logo img {
    margin: @mobileThemeSitesLogoMargin;
  }
}

.subfooter .item .ui.grid {
  align-items: center;
}

.subfooter .item {
  .header {
    margin-bottom: @mobileItemHeaderMarginBottom;
    font-size: @mobileFooterTitleFontSize;
    font-weight: @footerTitleFontWeight;
    text-align: center;
  }
}

.subfooter .contact-block {
  margin-bottom: @tabletContactBlockMarginbottom;
}

.contact-block .subcontact a {
  font-size: @computerSubcontactIconFontSize;
  margin-right: @computerSubcontactIconMarginRight;
  font-weight: @computerSubcontactIconFontWeight;
}

.subfooter .contact {
  display: block;
  margin: @mobileContactMargin;
  font-size: @contactFontSize;
  gap: @contactGap;

  a {
    color: @menuLinkColor;
  }

  i.big.icon {
    margin-right: @mobileContactIconMarginRight;
    font-size: @mobileContactIconFontSize;
  }
}

.subfooter .social {
  display: flex;
  justify-content: @mobileSocialJustifyContent;
  margin: @mobileSocialIconsMargin;
  
  a {
    color: @socialIconColor;

    &:active,
    &:hover {
      color: @socialIconColor;
    }

    i.icon {
      font-size: @mobileSocialIconSize;
    }
  }
}

footer .footer-wrapper .menu {
  .actions {
    display: flex;
    justify-content: center;
  }

  .copyright {
    display: flex;
    justify-content: center;
  }

  a {
    color: @menuLinkColor;
    font-weight: @menuFontWeight;
    font-size: @mobileMenuFontSize;
    cursor: pointer;
    margin-inline: 12px;

    &:hover,
    &:active {
      color: @menuLinkColor;
    }
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  .footer-wrapper > .container {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    display: none !important;
  }

  .subfooter {
    order: 1
  }

  .menu {
    order: 2;
    position: relative;
    margin: @mobileMenuMargin;
  }
  .menu::after {
    position: absolute;
    bottom: 0;
    border: @mobileMenuBorder;
    content: " ";
    display: block;
    width: 100vw;
    left: @mobileMenuLeft;
  }
  footer .footer-wrapper .menu a {
    font-weight: @mobileMenuFontWeight;
  }

  .theme-sites {
    order: 3;
  }
}

@media only screen and (min-width: @tabletBreakpoint) {
  footer {
    background: @computerFooterBackgroundGrandient;
  }
  footer .theme-sites {
    .header {
      font-size: @tabletFooterTitleFontSize;
      font-weight: @tabletFooterTitleFontWeight;
    }
  }

  .subfooter .item {
    .logo img {
      max-height: 100px;
    }

    .site.logo img {
      padding-right: @siteLogoPaddingRight;
    }

    .contact-block {
      padding-left: @siteLogoPaddingRight;
    }

    .header {
      font-size: @tabletFooterTitleFontSize;
      text-align: left;
    }
  }


  .subfooter .contact-block {
    margin-inline: @tabletContactBlockMarginInline;
  }

  .subfooter .social {
    justify-content: @tabletSocialJustifyContent;
    gap: @tabletSocialGap;
    margin: @tabletSocialIconsMargin;

    a {
      i.icon {
        font-size: @tabletSocialIconSize;
      }
    }
  }

  footer .footer-wrapper .menu {
    .actions {
      justify-content: flex-end;
    }
  }

}

@media only screen and (min-width: @computerBreakpoint) {
  footer {
    .footer-wrapper {
      padding: @computerWrapperPadding;
      background-size: @computerWrapperBackgroundSize;
    }
  }

  footer .theme-sites {
    padding: @computerThemeSitesPadding;

    .header {
      font-size: @computerFooterTitleFontSize;
    }
    .logos .logo img {
      margin: @computerThemeSitesLogoMargin;
    }
  }

  .subfooter .logo-header {
    // To match the figma align
    margin-left: @computerLogoHeaderMarginLeft
  }

  .subfooter .item {
    .header {
      margin-bottom: @computerItemHeaderMarginBottom;
      font-size: @computerFooterTitleFontSize;
    }
  }

  .subfooter .contact {
    display: flex;
    align-items: center;
    margin: @computerContactMargin;

    i.big.icon {
      font-size: @computerContactIconFontSize;
    }
  }

  .footer .footer-wrapper .menu {
  
    a {
      font-size: @computerMenuFontSize;
    }
  } 
}