@type: 'extra';
@element: 'footer';

@import (multiple) '../../theme.config';

/*-------------------
      FOOTER
--------------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: @footerBackgroundGrandient;
  color: @white;

  .wrapper {
    width: @wrapperWidth;
    padding: @mobileWrapperPadding;
    background-image: @wrapperBackgroundImage;
    background-position: @wrapperBackgroundPosition;
    background-size: @mobileWrapperBackgroundSize;
  }
}

footer .theme-sites {
  padding: @mobileThemeSitesPadding;

  .header {
    font-weight: @footerTitleFontWeight;
  }

  .logos .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: auto;
    }
  }
}

.subfooter .ui.grid {
  align-items: center;
}

.subfooter .item {
  margin-top: @mobileItemMarginTop;

  .header {
    margin-bottom: @mobileItemHeaderMarginBottom;
    font-size: @mobileFooterTitleFontSize;
    font-weight: @footerTitleFontWeight;
    text-align: center;
  }
}

.subfooter .contact-block {
  margin-inline: @mobileContactBlockMarginInline;
  margin-bottom: @tabletContactBlockMarginbottom;
}

.subfooter .contact {
  display: flex;
  align-items: center;
  margin: @mobileContactMargin;
  font-size: @mobileContactFontSize;

  a {
    color: @menuLinkColor;
  }

  i.big.icon {
    margin-right: @mobileContactIconMarginRight;
    font-size: @mobileContactIconFontSize;
  }
}

.subfooter .address {
  font-size: @addressFontSize;
}

.subfooter .social {
  display: flex;
  justify-content: @mobileSocialJustifyContent;
  
  a {
    color: @socialIconColor;

    &:active,
    &:hover {
      color: @socialIconColor;
    }

    i.icon {
      font-size: @mobileSocialIconSize;
    }
  }
}

.subfooter .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: @mobileMenuWidth;
  margin: @mobileMenuMargin;

  a {
    color: @menuLinkColor;
    font-weight: @menuFontWeight;
    font-size: @mobileMenuFontSize;
    cursor: pointer;

    &:hover,
    &:active {
      color: @menuLinkColor;
    }
  }
}

@media only screen and (min-width: @tabletBreakpoint) {
  footer .theme-sites {
    .header {
      font-size: @tabletFooterTitleFontSize;
    }
  }

  .subfooter .item {
    margin-top: @tabletItemMarginTop;

    .site.logo {
      img {
        width: @tabletSiteLogoWidth;
        display: @tabletSiteLogoDisplay;
      }
    }

    .header {
      font-size: @tabletFooterTitleFontSize;
      text-align: left;
    }

    .social a i.icon {
      font-size: @tabletSocialIconSize;
    }
  }

  .eionet.logo img {
    margin-left: @tabletEionetLogoMarginLeft;
    width: @tabletEionetLogoWidth;    
  }

  .subfooter .contact-block {
    margin-inline: @tabletContactBlockMarginInline;
  }

  .subfooter .social {
    justify-content: @tabletSocialJustifyContent;
    gap: @tabletSocialGap;
  }

  .subfooter .menu {
    width: @tabletMenuWidth;
    margin: @tabletMenuMargin;
  }
}

@media only screen and (min-width: @computerBreakpoint) {
  footer {
    .wrapper {
      padding: @computerWrapperPadding;
      background-size: @computerWrapperBackgroundSize;
    }
  }

  footer .theme-sites {
    padding: @computerThemeSitesPadding;

    .header {
      font-size: @computerFooterTitleFontSize;
    }
  }

  .subfooter .logo-header {
    // To match the figma align
    margin-left: @computerLogoHeaderMarginLeft
  }

  .subfooter .item {
    margin-top: @computerItemMarginTop;

    .site.logo {
      img {
        width: @computerSiteLogoWidth;
      }
    }

    .header {
      margin-bottom: @computerItemHeaderMarginBottom;
      font-size: @computerFooterTitleFontSize;
    }

    .social a i.icon {
      font-size: @computerSocialIconSize;
    }
  }

  .subfooter .contact {
    font-size: @computerContactFontSize;
    margin: @computerContactMargin;

    i.big.icon {
      font-size: @computerContactIconFontSize;
    }
  }

  .eionet.logo img {
    width: @computerEionetLogoWidth;
    margin-left: 0;
  }

  .subfooter .menu {
    width: @computerMenuWidth;
  
    a {
      font-size: @computerMenuFontSize;
    }
  } 
}