@type: 'extra';
@element: 'hero';

@import (multiple) '../../theme.config';

// Color utilities
.color-fg-primary { color: @primaryColor; }
.color-fg-secondary { color: @secondaryColor; }
.color-fg-tertiary { color: @tertiaryColor; }
.color-fg-white { color: @white; }

.color-bg-primary { background-color: @primaryColor; }
.color-bg-secondary { background-color: @secondaryColor; }
.color-bg-tertiary { background-color: @tertiaryColor; }
.color-bg-grey { background-color: #F9F9F9; }

// Display utilities
.d-flex { display: flex !important; }
.flex-items-start { align-items: flex-start; }
.flex-items-end { align-items: flex-end; }
.flex-items-center { align-items: center; }

// Align text utilities
.text-left { text-align: left; }
.text-center { text-align: center;}
.text-right { text-align: right; }

//Quotes utilities
.quoted::before {
  content: "\ec51";
  font-family: 'remixicon' !important;
}
.quoted::after {
  content: "\ec52";
  font-family: 'remixicon' !important;
}

/*-------------------
      Hero
--------------------*/

.eea.hero-block {
  height: @mobileHeroBlockMinHeight;
  position: @heroBlockPosition;
}

.hero-block-inner-wrapper {
  height: 100%;
  padding-block: @heroBlockWrapperPadding;
}

.hero-block-body {
  display: flex;
  flex-direction: column;
  gap: @mobileHeroBlockBodyGap;
}

.hero-block-image {
  background-repeat: @heroBlockImageBackgroundRepeat;
  background-size: @heroBlockImageBackgroundSize;
  background-position: @heroBlockImageBackgroundPosition;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: @tabletBreakpoint) {
  .eea.hero-block {
    height: @tabletHeroBlockMinHeight;
  }
  .hero-block-body {
    gap: @tabletHeroBlockBodyGap;
  }
}

@media only screen and (min-width: @computerBreakpoint) {
  .eea.hero-block {
    height: @desktopHeroBlockMinHeight;
  } 
  .hero-block-body {
    gap: @desktopHeroBlockBodyGap;
  }
}