@type: 'extra';
@element: 'hero';

@import (multiple) '../../theme.config';

/*-------------------
      Hero
--------------------*/

.eea.hero-block {
  position: @heroBlockPosition;
}

.hero-block-inner-wrapper {
  height: 100%;
  padding-block: @heroBlockWrapperPadding;
}

.hero-block-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: @mobileHeroBlockBodyGap;
}

.hero-block-image {
  background-repeat: @heroBlockImageBackgroundRepeat;
  background-size: @heroBlockImageBackgroundSize;
  background-position: @heroBlockImageBackgroundPosition;
  width: 100%;
  height: 100%;
}

.hero-block-text .quoted > * {
  display: inline-block;
}

.eea.hero-block.full-height,
.eea.hero-block.full-height .hero-block-image,
.eea.hero-block.full-height .hero-block-inner-wrapper {
  min-height: @mobileHeroBlockMinHeight;
}

@media only screen and (min-width: @tabletBreakpoint) {
  .eea.hero-block.full-height,
  .eea.hero-block.full-height .hero-block-image,
  .eea.hero-block.full-height .hero-block-inner-wrapper {
    min-height: @tabletHeroBlockMinHeight;
  }
  .hero-block-body {
    gap: @tabletHeroBlockBodyGap;
  }
}

@media only screen and (min-width: @computerBreakpoint) {
  .eea.hero-block.full-height,
  .eea.hero-block.full-height .hero-block-image,
  .eea.hero-block.full-height .hero-block-inner-wrapper {
    min-height: @desktopHeroBlockMinHeight;
  }
  .hero-block-body {
    gap: @desktopHeroBlockBodyGap;
  }
}
