@type: 'extra';
@element: 'keyContent';

@import (multiple) '../../theme.config';

.eea.key-content {
  .title {
    text-align: left;
    color: @keyContentColoredTitleColor;
    margin-left: @keyContentTitleMarginLeft;
  }

  .ui.bulleted.list {
    display: flex;
    flex-direction: column;
    gap: @keyContentListGap;
  }

  .item {
    color: @keyContentItemColor;
    font-size: @mobileKeyContentItemFontSize;
    margin-left: @keyContentItemMarginLeft;
  }

  .ui.bulleted.list > .item::before {
    color: @keyContentListBulletColor;
    font-size: @keyContentListBulletFontSize;
    margin-left: @keyContentItemMarginLeftNegative;
  }
}

@media only screen and (min-width: @computerBreakpoint) {
  .eea.key-content {
    .item {
      font-size: @computerKeyContentItemFontSize;
    }
  }
}

.loadUIOverrides();