@type: 'extra';
@element: 'labeledIconGroup';

@import (multiple) '../../theme.config';

/*******************************
        Labeled Icon Group
*******************************/
.eea.labeled.icon.group {
  width: @labeledIconGroupWidth;
  display: flex;
  justify-content: center;

  .group.wrapper {
    margin-left: @labeledIconGroupWrapperMarginLeft;
    margin-right: @labeledIconGroupWrapperMarginRight;
  }
}
