@type: 'extra';
@element: 'labeledIconGroup';

@import (multiple) '../../theme.config';

/*******************************
        Labeled Icon Group
*******************************/
.eea.labeled.icon.group {
  width: 100%;
  display: flex;
  justify-content: center;

  .group.wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}
