@type: 'extra';
@element: 'languageLabeledIcon';

@import (multiple) '../../theme.config';

/*******************************
      Language Labeled Icon
*******************************/

.eea.language.labeled.icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: @languageLabeledIconWidth;

  .icon.wrapper {
    font-size: @languageLabeledIconIconWrapperFontSize;
    font-weight: @languageLabeledIconIconWrapperFontWeight;
    color: @languageLabeledIconIconWrapperColor;
    cursor: pointer;
    display: flex;
    align-items: center;

    i {
      color: @languageLabeledIconIconWrapperIconColor;
      margin-right: @languageLabeledIconIconWrapperIconMarginRight;
      font-size: @languageLabeledIconIconWrapperIconFontSize;
    }
  }

  .label {
    color: @languageLabeledIconLabelColor;
    font-size: @languageLabeledIconLabelFontSize;
    font-weight: @languageLabeledIconLabelFontWeight;
    cursor: pointer;
  }

  .dropdown {
    background-color: @languageLabeledIconDropdownBackgroundColor;

    .link.wrapper {
      display: flex;
      width: @languageLabeledIconDropdowLinkWrapperWidth;

      &.hidden {
        display: none;
      }

      ul {
        list-style-type: none;
        margin: 0;
        color: @languageLabeledIconLabelUlColor;
        padding: @languageLabeledIconLabelUlPadding;

        li {
          padding: 5px;
          cursor: pointer;
        }

        li:hover {
          color: @languageLabeledIconLabelUlLiColor;
          background-color: @languageLabeledIconLabelUlLiBackgroundColor;
        }

        li span {
          font-weight: @languageLabeledIconLabelUlLiSpanFontWeight;
        }
      }
    }
  }
}
