@type: 'extra';
@element: 'publicationCard';

@import (multiple) '../../theme.config';

/*-------------------
  Publication Card
--------------------*/

.ui.card.publication {

    width: @mobilePublicationCardWidth;
    border: none;

    .image {
        height: @mobilePublicationcardImageHeight;
        flex-grow: 1;
    }

    .content {
        background-color: @publicationCardDescriptionColor;
        padding: @cardContentPadding;
        max-height: @cardContentMaxHeight;
        height: @mobileCardContentHeight;

        .meta {
            font-size: @cardMetaFontSize;
            font-weight: @cardMetaTagFontWeight;
            color: @publicationCardtextColor;
        }

        .description {
            margin-top:0;
            font-size: @cardDescriptionTextFontSize;
            font-weight: @cardDescriptionTextFontWeight;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: @cardDescriptionTextLineClampMobile;
            -webkit-box-orient: vertical;
            color: @publicationCardtextColor;
        }
    }

}

@media only screen and (min-width: @tabletBreakpoint) {

    .ui.card.publication {
        width: @tabletPublicationCardWidth;

        .image {
            height: @tabletPublicationcardImageHeight;
        }

        .content {
            max-height: @tabletCardContentMaxHeight;
            height: @tabletCardContentHeight;

            .description {
                -webkit-line-clamp: @cardDescriptionTextLineClampTablet;
            }
        }
    }
  }

@media only screen and (min-width: @computerBreakpoint) {

    .ui.card.publication {
        width: @computerPublicationCardWidth;

        .image {
            height: @computerPublicationcardImageHeight;
        }
    }
  }
