@type: 'extra';
@element: 'tagList';

@import (multiple) '../../theme.config';

/*******************************
            Tag
*******************************/

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  width: @tagsBodyWidth;
  line-height: @tagsLineHeight;

  .tags-title {
    text-align: right;
    height: @tagsLineHeight;
    color: @tagsTitleFontColor;
    margin-right: @tagsTitleMargin;
    font-weight: @tagsFontWeight;
    font-size: @tagsFontSize;
  }
}

.tags.left {
  justify-content: left;
}