@type: 'extra';
@element: 'testimonial';

@import (multiple) '../../theme.config';

/*-------------------
      TESTIMONIAL
--------------------*/

.eea.testimonial {
  width: 900px;

  .wrapper {
    display: flex;
    margin-top: 36px;
    margin-bottom: 31.14px;

    .avatar-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .content .title {
      margin: 0 2rem;
      font-weight: 500;
      font-size: 36px;
      line-height: 150%;
      letter-spacing: -0.015em;
      color: #3d5265;
    }
  }
}
