@spacer: 4px;

@space-025: @spacer * 0.25; //1px;
@space-05:  @spacer * 0.5;  //2px;
@space-1:   @spacer * 1;    //4px;
@space-2:   @spacer * 2;    //8px;
@space-3:   @spacer * 3;    //12px;
@space-3-5: @spacer * 3.5;  //14px;
@space-4:   @spacer * 4;    //16px;
@space-5:   @spacer * 5;    //20px;
@space-6:   @spacer * 6;    //24px;
@space-7:   @spacer * 7;    //28px;
@space-7-5: @spacer * 7.5;  //30px;
@space-8:   @spacer * 8;    //32px;
@space-9:   @spacer * 9;    //36px;
@space-10:  @spacer * 10;   //40px;
@space-11:  @spacer * 11;   //44px;
@space-12:  @spacer * 12;   //48px;
@space-13:  @spacer * 13;   //52px;
@space-14:  @spacer * 14;   //56px;
@space-15:  @spacer * 15;   //60px;
@space-16:  @spacer * 16;   //64px;
@space-17:  @spacer * 17;   //68px;
@space-18:  @spacer * 18;   //72px;
@space-19:  @spacer * 19;   //76px;
@space-20:  @spacer * 20;   //80px;

// space sizing, add missing values if needed
@space-24: @spacer * 24; //96px;

@space-28: @spacer * 28; //112px;

@space-32: @spacer * 32; //128px;

@space-35: @spacer * 35; //140px;

@rem-space-025: @1px;
@rem-space-050: @2px;
@rem-space-1: @4px;
@rem-space-2: @8px;
@rem-space-3: @12px;
@rem-space-3-5: @14px;
@rem-space-4: @16px;
@rem-space-5: @20px;
@rem-space-6: @24px;
@rem-space-7: @28px;
@rem-space-7-50: @30px;
@rem-space-8: @32px;
@rem-space-9: @36px;
@rem-space-10: @40px;
@rem-space-11: @44px;
@rem-space-12: @48px;
@rem-space-13: @52px;
@rem-space-14: @56px;
@rem-space-15: @60px;
@rem-space-16: @64px;
@rem-space-17: @68px;
@rem-space-18: @72px;
@rem-space-19: @76px;
@rem-space-20: @80px;

@em-space-025: @relative1px;
@em-space-050: @relative2px;
@em-space-1: @relative4px;
@em-space-2: @relative8px;
@em-space-3: @relative12px;
@em-space-3-50: @relative14px;
@em-space-4: @relative16px;
@em-space-5: @relative20px;
@em-space-6: @relative24px;
@em-space-7: @relative28px;
@em-space-7-50: @relative30px;
@em-space-8: @relative32px;
@em-space-9: @relative36px;
@em-space-10: @relative40px;
@em-space-11: @relative44px;
@em-space-12: @relative48px;
@em-space-13: @relative52px;
@em-space-14: @relative56px;
@em-space-15: @relative60px;
@em-space-16: @relative64px;
@em-space-17: @relative68px;
@em-space-18: @relative72px;
@em-space-19: @relative76px;
@em-space-20: @relative80px;

// Size scale
// Used for buttons, inputs, labels, avatars etc.
@size: @space-4;

@size-025: @size * 0.25;          // 4px
@size-050: @size * 0.5;           // 8px
@size-1:   @size;                 // 16px
@size-2:   @size-1  +  @space-1;  // 20px
@size-3:   @size-2  +  @space-1;  // 24px
@size-4:   @size-3  +  @space-1;  // 28px
@size-5:   @size-4  +  @space-1;  // 32px
@size-6:   @size-5  +  @space-2;  // 40px
@size-7:   @size-6  +  @space-2;  // 48px
@size-8:   @size-7  +  @space-4;  // 64px
@size-9:   @size-8  +  @space-4;  // 80px
@size-10:  @size-9  +  @space-10; // 120px
@size-11:  @size-10 +  @space-10; // 160px
@size-12:  @size-11 +  @space-20; // 240px
@size-13:  @size-12 +  @space-20; // 320px
@size-14:  @size-13 +  @size-11;  // 480px
