@gap-025: @1px;
@gap-05: @2px;
@gap-1: @4px;
@gap-2: @8px;
@gap-3: @12px;
@gap-3-5: @14px;
@gap-4: @16px;
@gap-5: @20px;
@gap-6: @24px;
@gap-7: @28px;
@gap-7-5: @30px;
@gap-8: @32px;
@gap-9: @36px;
@gap-10: @40px;
@gap-11: @44px;
@gap-12: @48px;
@gap-13: @52px;
@gap-14: @56px;
@gap-15: @60px;
@gap-16: @64px;
@gap-17: @68px;
@gap-18: @72px;
@gap-19: @76px;
@gap-20: @80px;

// gap sizing, add missing values if needed
@gap-24: @96px;

@gap-28: @112px;

@gap-32: @128px;

@gap-35: @140px;
