// Color
h1, h2, h3, h4, h5, h6, p, span {
  &.primary { color: @primaryColor !important; }
  &.secondary { color: @secondaryColor !important; }
  &.tertiary { color: @tertiaryColor !important; }
  &.white { color: @white !important; }
}

.color-fg-primary { color: @primaryColor !important; }
.color-fg-secondary { color: @secondaryColor !important; }
.color-fg-tertiary { color: @tertiaryColor !important; }
.color-fg-white { color: @white !important; }

.color-bg-primary { background-color: @primaryColor !important; }
.color-bg-secondary { background-color: @secondaryColor !important; }
.color-bg-tertiary { background-color: @tertiaryColor !important; }
.color-bg-grey { background-color: #F9F9F9 !important; }

// Flexbox
.d-flex { display: flex !important; }
.flex-items-start { align-items: flex-start !important; }
.flex-items-end { align-items: flex-end !important; }
.flex-items-center { align-items: center !important; }

// Align text
.text-left { text-align: left !important; }
.text-center { text-align: center !important;}
.text-right { text-align: right !important; }

// Quotes
.quoted::before {
  content: "\ec51";
  font-family: 'remixicon' !important;
}
.quoted::after {
  content: "\ec52";
  font-family: 'remixicon' !important;
}

// Borders
.bordered { 
  border-bottom: @border-size-1 solid !important;
  padding-bottom: @rem-space-2 !important;
}
